<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CampusLab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" routerLink="/bookings">Reservas</a></li>
        <li class="nav-item" *ngIf="canSeeCatalog"><a class="nav-link" routerLink="/catalog">Catálogo</a></li>
        <li class="nav-item" *ngIf="canSeeReports"><a class="nav-link" routerLink="/reports">Reportes</a></li>
        <li class="nav-item" *ngIf="canSeeAudit"><a class="nav-link" routerLink="/audit">Auditoría</a></li>
        <li class="nav-item"><span class="nav-link" *ngIf="isLoggedIn">{{ userDisplayName }}</span></li>
        <li class="nav-item">
          <button
            class="btn btn-sm"
            [ngClass]="isLoggedIn ? 'btn-danger' : 'btn-success'"
            (click)="isLoggedIn ? logout() : login()">
            {{ isLoggedIn ? 'Logout' : 'Login' }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-4">
  <router-outlet></router-outlet>
</div>